.Wrapper {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
.TextField {
  padding-left: 10px;
  background: #1E1E1E;
  border: 1px solid rgba(154, 154, 154, 0.27);
  outline: none;
  color: #9A9A9A;
  width: 90%;
  height: 26px;
  border-right: none;
  &:focus {
    border: 1px solid #BFB930;
    border-right: none;
  }
}
.SearchButton {
  height: 30px;
  border: 1px solid rgba(154, 154, 154, 0.27);
  background: rgba(154, 154, 154, 0.27);
  outline: none;
  border-left: none;
}